@use "../abstracts/colors";
@use "../abstracts/transitions";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.navbarContainer {
  min-height: variables.$headerHeight;
  max-height: variables.$headerHeight;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  background-color: colors.$header;
  height: variables.$headerHeight;
  max-height: variables.$maxHeaderHeight;
  //padding: 0.5rem 1rem;
  padding: 6px 1rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(109, 109, 109, 0.5);
}

.separator {
  width: 1px;
  height: 32px;
  background-color: white;
  opacity: 0.2;
}

.mainNavContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  //border-bottom: 1px solid rgba(109, 109, 109, .5);
  //box-shadow: 0 1px 4px -1px rgba(39, 39, 39, .85);
  //box-shadow: 0 4px 4px -4px rgba(109, 109, 109, .85);

  .filler {
    flex-grow: 1;
  }

  .upperNavText {
    float: left;
  }

  .searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 300px;
    height: 100%;

    .searchArea {
      @include mixins.centerContent();
      border: 1px solid #52585f;
    }

    .searchBarFilterButton {
      @include mixins.centerContent();

      button {
        width: 5rem;
        height: 2rem;
        background-color: #2b2f33;
        color: white;
        border: none;
        border-radius: 0;
        cursor: pointer;
      }
    }

    .searchBarButton {
      @include mixins.centerContent();

      button {
        color: white;
        position: relative;
        width: 2rem;
        height: 2rem;
        background-color: #2b2f33;
        border: none;
        border-radius: 0;
        cursor: pointer;

        i {
          color: white;
        }
      }
    }

    form {
      display: flex;
      align-items: center;
    }

    input {
      width: 100%;
      height: 2rem;
      padding: 2px 23px 2px 35px;
      background-color: #2b2f33;
      color: white;
      border-radius: 0;
      border: none;
      outline: 0;

      //width: 90%;
      //height: 100%;
      //
      //padding-left: 10px;
      //background: transparent;
      //color: white;
      //border: 1px solid white;
      //border-radius: 3px;
    }

    i {
      color: white;
      position: absolute;
      top: 6px;
      left: 10px;
      width: 15px;

      //padding: 6px 10px;
      //background: #ddd;
      //font-size: 17px;
      //border: none;
      //cursor: pointer;
      //
      //&:hover {
      //  background-color: #ccc;
      //}
    }
  }

  .searchBar {
    position: relative;
  }
}

.navContentLeft {
  display: flex;
  flex-basis: 100%;

  .navContentLeftInner {
    display: flex;
    align-items: stretch;
  }
}

.navContentRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: .75rem;

  .serverSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 230px;
    margin-right: 1rem;
    background: colors.$dropdownColor;
    cursor: pointer;
    transition: border 250ms ease-out 0s;
    position: relative;

    span {
      margin-left: 0.5em;
    }

    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    svg {
      margin: 0 5px;

      &:active {
        transform: rotate(180deg);
        transition: 250ms;
      }
    }

    .serverSelectorButton {
      display: flex;
      align-items: center;
      background: colors.$dropdownColor;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      max-width: 230px;
      width: 16rem;
      height: 2.5rem;
      color: white;
      position: relative;

      .serverSelectorButtonText {
        max-width: 9.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.95rem;
      }
    }

    .serverSelectorMenu {
      background: colors.$dropdownColor;
      color: white;
      position: absolute;
      top: 45px;
      right: 0;
      width: 230px;
      max-width: 230px;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.4s;
      z-index: 5;

      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    .serverSelectorCaretWrapper {
      width: 25px;

      .serverSelectorCaret {

        &.open {
          transform: rotate(180deg);
          transition: 250ms;
        }

        &.closed {
          transform: rotate(0deg);
          transition: 250ms;
        }
      }
    }

    ul {
      list-style: none;
      overflow-y: auto;
      padding: 0;
      margin: 0;
      max-height: 375px;

      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        min-height: 50px;
        padding-left: 15px;

        &:hover {
          background-color: rgba(35, 39, 42, 0.4);
        }

        a {
          text-decoration: none;
          color: #333333;
          padding: 15px 20px;
          display: block;
        }
      }
    }
  }

  .userControls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;

    //button {
    //  background: transparent;
    //  border: none;
    //  color: white;
    //  position: relative;
    //  padding: 0;
    //  margin: .25rem;
    //}

    .buttonContainer {
      display: flex;
      align-items: center;
      position: relative;

      width: 2rem;
      margin: .25rem;

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;

        width: 2rem;
        height: 100%;

        background: none;
        border: none;

        color: white;
      }

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      svg {
        fill: white;
        width: 1.75rem;
        height: 1.75rem;

        &:hover {
          cursor: pointer;
        }
      }

      .notificationsButton {
        //&:hover {
        //  &:after {
        //    content: '';
        //    position: absolute;
        //    bottom: -1rem;
        //    left: 0;
        //    right: 0;
        //    width: 1.75rem;
        //    height: 3px;
        //    background-color: colors.$mainColor;
        //    //z-index: 15;
        //  }
        //}
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        overflow: auto;

        min-height: 24.75rem;
        max-height: calc(60vh - 4rem - 4rem);

        li {

          a {
            display: flex;
            padding: 1.5rem 1rem;

            svg {
              width: 1rem;
              height: 1rem;
              margin-right: .5rem;
            }

            &:hover {
              background: gray;
            }
          }

          .notificationCard {
            width: 100%;

            h2 {
              margin: 0;
              padding: 0;
            }

            .notificationCardHeader {
              display: flex;
              align-items: center;
              justify-content: space-between;

              p {
                margin: 0;
                padding: 0;
                font-weight: 600;
              }

              time {
                display: flex;
                justify-content: flex-end;
                min-width: 7.5rem;
              }
            }
          }
        }
      }

      .notificationsDropdownMenu {
        background: colors.$dropdownColor;
        color: white;
        position: absolute;
        top: 50px;
        right: 0;
        width: 26.5rem;
        max-width: 26.5rem;
        max-height: 40rem;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.4s;
        z-index: 5;

        &.active {
          opacity: 1;
          visibility: visible;
          transition: none;
          transform: translateY(0);
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        .notificationsDropdownHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;

          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          height: 4rem;

          button {
            background: transparent;
            border: none;
            color: white;
          }

          a {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: .3px;

            &:hover {
              color: colors.$mainColor;
            }
          }
        }

        .notificationsDropdownFooter {
          display: flex;
          align-items: center;
          justify-content: center;

          background: rgba(9, 9, 9, 0.78);

          padding: .625rem 1rem;
          height: 4rem;

          a {
            text-transform: uppercase;
            font-family: devioussans02extrabold, Helvetica Neue, Helvetica, Arial, メイリオ\, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
            letter-spacing: 1.3px;
            font-weight: bold;

            &:hover {
              color: colors.$mainColor;
            }
          }
        }
      }
    }

    .settings {
      display: flex;
      align-items: center;

      a {
        color: inherit;
        text-decoration: none;

        &:visited {
          color: inherit;
          text-decoration: none;
        }
      }

      button {
        &:hover {

          &:after {
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 0;
            right: 0;
            width: 1.75rem;
            height: 3px;
            background-color: colors.$mainColor;
            z-index: 15;
          }
        }
      }

      svg {
        fill: white;
        width: 20px;
        height: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .upperNavLogin {
      float: right;
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      svg {
        margin: 0 5px;

        &:active {
          transform: rotate(180deg);
          transition: 250ms;
        }
      }

      ul {
        display: none;

        &:active {
          display: block;
        }
      }
    }
  }
}

/* Slides the image from left (-250px) to right (150px) */
@keyframes image-slide {
  0% {
    transform: translateX(-250px) scale(0);
  }
  60% {
    transform: translateX(-250px) scale(1);
  }
  90% {
    transform: translateX(150px) scale(1);
  }
  100% {
    transform: translateX(150px) scale(1);
  }
}

/* Slides the text by shrinking the width of the object from full (100%) to nada (0%) */
@keyframes text-slide {
  0% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  75% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

.fadingEffect {
  width: 100%;
  background: white;
}

.textContainer {
  //animation: image-slide 4s cubic-bezier(.5,.5,0,1);
}

.sidebarSection {
  @include mixins.centerContent();
  //flex-shrink: 0;
  //width: variables.$sidebarExpandedWidth;

  &.expanded {
    flex-shrink: 0;
    width: variables.$sidebarSectionExpandedWidth;
    transition: transitions.$navbarExpandTransition;
    //transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1) 117ms;

    overflow: hidden;

    .logoText {
      opacity: 1;
      width: max-content;

      transform: translateX(0%);
      transition: transitions.$navbarCollapseTransition;
    }
  }

  &.collapsed {
    flex-shrink: 0;
    width: variables.$sidebarSectionCollapsedWidth;
    transition: transitions.$navbarCollapseTransition;

    .logoText {
      transform: translateX(-105%);
      transition: transitions.$navbarCollapseTransition;
    }
  }

  .logoContainer {
    @include mixins.center();
    color: white;
    font-size: 1.5rem;
    width: max-content;

    overflow: hidden;
    //white-space: nowrap;

    a {
      display: flex;
      align-items: center;
      gap: .25rem;

      text-decoration: none;
      color: inherit;

      //&:before {
      //  content: "";
      //  width: 38px;
      //  height: 38px;
      //  border-radius: 50%;
      //  position: absolute;
      //  left: 1px;
      //  box-shadow: rgb(96, 209, 246) 0px 0px 88px;
      //  animation: 5s linear 0s infinite normal none running kCHPyX;
      //}
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
      max-width: 130px;
      z-index: 1;
      position: relative;
      background: colors.$header;
      overflow: hidden;

      path {
        fill: white;
      }
    }

    span {
      font-weight: bold;
      letter-spacing: 1px;
    }

    .logo {
      display: inline-flex;
      align-items: center;
      gap: .25rem;

      overflow: hidden;
    }
  }
}

// Account Button Div
.account {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: border 250ms ease-out 0s;
  position: relative;

  .accountButton {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: white;
    cursor: pointer;

    margin: 0;
    padding: 0;

    .accountButtonText {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1rem;
    }
  }

  // Account Button Dropdown Menu
  span {
    margin-left: 0.5em;
  }

  img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
  }

  svg {
    margin: 0 5px;
    fill: white;

    &:active {
      transform: rotate(180deg);
      transition: 250ms;
    }
  }

}

.accountDropdownHeader {
  background-color: colors.$dropdownColor;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  cursor: initial;

  img {
    width: 40px;
    height: 40px;
  }
}

.accountDropdownMenu {
  background: colors.$dropdownColor;
  color: white;
  position: absolute;
  top: 45px;
  right: 0;
  width: 300px;
  max-width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.4s;
  z-index: 5;

  &.active {
    opacity: 1;
    visibility: visible;
    transition: none;
    transform: translateY(0);
  }

  ul {
    list-style: none;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    max-height: 375px;

    a {
      text-decoration: none;
      color: inherit;
    }

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      min-height: 50px;
      padding-left: 1rem;

      &:hover {
        background-color: rgba(35, 39, 42, 0.4);
      }
    }
  }

  .accountDropdownCaretWrapper {
    width: 25px;
    color: white;

    .accountDropdownCaret {

      &.open {
        transform: rotate(180deg);
        transition: 250ms;
      }

      &.closed {
        transform: rotate(0deg);
        transition: 250ms;
      }
    }
  }

  svg {
    margin: 0 5px;
    fill: white;

    &:active {
      transform: rotate(180deg);
      transition: 250ms;
    }
  }
}

.accountDropdown {
  //TODO: Change this background color to something better.
  background: colors.$dropdownColor;
  color: white;

  position: absolute;
  top: 45px;
  right: 0;

  width: 300px;
  max-width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);

  .dropdownHeader {
    display: flex;
    align-items: center;
    gap: .5rem;

    padding: .75rem;
    //background-color: colors.$dropdownColor;
    background-color: rgb(24, 26, 27);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    cursor: initial;

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: flex;
      align-items: center;
      gap: 1rem;

      text-decoration: none;
      color: inherit;
      margin: 0;
      padding: 0;
    }

    span {
      margin: 0;
      padding: 0;
    }

    svg {
      margin: 0;
      padding: 0;
    }

    li {
      //display: flex;
      //align-items: center;
      //gap: 1rem;

      padding: 1rem;

      &:hover {
        background-color: rgba(35, 39, 42, 0.4);
      }
    }
  }

  .logout {
    color: rgb(240, 71, 71);

    &:hover {
      background-color: rgba(240, 71, 71, 0.1);
    }
  }
}

// Premium Button Div
.premium {
  //margin-right: 0.75rem;
  //height: 100%;
  width: 135px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: colors.$mainColor;
    background-color: rgba(255, 33, 69, .12);
    border: 1px solid;
    border-radius: 3px;

    font-size: 1rem;
    transition: all 200ms;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 33, 69, .24);
    }
  }

  span {
    padding: 0.5rem 0;
  }
}