// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

@use "../abstracts/colors";

//$track-w: 12.5em;
//$track-h: .25em;
$thumb-d: 1.5em;
$track-c: #ccc;
$filll-c: #95a;
//
//@mixin track($fill: 0) {
//  box-sizing: border-box;
//  border: none;
//  width: $track-w; height: $track-h;
//  background: $track-c;
//
//  @if $fill == 1 {
//    .js & {
//      background: linear-gradient($filll-c, $filll-c)
//      0/ var(--sx) 100% no-repeat $track-c
//    }
//  }
//}
//
//@mixin fill() {
//  height: $track-h;
//  background: $filll-c
//}
//
//@mixin thumb() {
//  box-sizing: border-box;
//  border: none;
//  width: $thumb-d; height: $thumb-d;
//  border-radius: 50%;
//  background: #f90;
//}
//
//[type='range'] {
//  &, &::-webkit-slider-thumb {
//    -webkit-appearance: none;
//  }
//
//  --range: calc(var(--max) - var(--min));
//  --ratio: calc((var(--val) - var(--min))/var(--range));
//  --sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
//  margin: 0;
//  padding: 0;
//  width: $track-w; height: $thumb-d;
//  background: transparent;
//  font: 1em/1 arial, sans-serif;
//
//  &::-webkit-slider-runnable-track {
//    @include track(1)
//  }
//  &::-moz-range-track { @include track }
//  &::-ms-track { @include track }
//
//  &::-moz-range-progress { @include fill }
//  &::-ms-fill-lower { @include fill }
//
//  &::-webkit-slider-thumb {
//    margin-top: .5*($track-h - $thumb-d);
//    @include thumb
//  }
//  &::-moz-range-thumb { @include thumb }
//  &::-ms-thumb {
//    margin-top: 0;
//    @include thumb
//  }
//
//  &::-ms-tooltip { display: none }
//}

$track-color: colors.$mainColor !default;
$thumb-color: white !default;

$thumb-radius: 12px !default;
$thumb-height: 16px !default;
$thumb-width: 16px !default;
$thumb-shadow-size: 4px !default;
$thumb-shadow-blur: 4px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 2px !default;
$thumb-border-color: #eceff1 !default;

$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 2px !default;
$track-border-color: #cfd8dc !default;

$track-radius: 5px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: $thumb-height / 2 0;
  width: $track-width;
  border-radius: $track-radius;

  --min: 0;
  --max: 100;
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;

    //&::-webkit-slider-runnable-track {
    //  background: lighten($track-color, $contrast);
    //}

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-container {
    @include track;
    //@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: gray;
    //border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-runnable-track {
    @include track;
    //@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background-image: linear-gradient(90deg, $track-color, $track-color);
    background-size: var(--sx);
    background-repeat: no-repeat;
    //background: linear-gradient($filll-c, $filll-c)
    //0/ var(--sx) 100% no-repeat $track-c;
    //border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
  }

  &::-moz-range-track {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    @include track;
    background: gray;
    //border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
    height: $track-height / 2;
  }

  &::-moz-range-progress {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    @include track;
    background: $track-color;
    //border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
    height: $track-height / 2;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $ie-bottom-track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: $track-height / 4;
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}