@use "../index";
@use "../abstracts/variables";
@use "../components/inputrange";

.musicControls {
  @include index.centerContent();
  background: index.$controller;
  height: variables.$musicControllerHeight;
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;

  border-top: 1px solid index.$controllerBorder;
}

.musicControlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-basis: 100%;
  gap: 1rem;

  padding: 0 1rem;
}

.musicItemContainer {
  display: flex;
}

.fill30 {
  flex-basis: 30%;
}

.fill40 {
  flex-basis: 40%;
}

.nowPlayingWidget {
  display: flex;
  align-items: center;

  img {
    max-width: 7.5rem;
    max-height: 4.1875rem;
  }

  .trackInformation {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    margin: 0 1rem;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .trackActions {
    display: flex;
    align-items: center;

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;

      color: white;

      width: 2rem;
      height: 2rem;
    }

    //svg {
    //  width: 1rem;
    //  height: 1rem;
    //}
  }
}

.playerControls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .icon {
    width: 2rem;
    height: 2rem;

    color: white;

    align-items: center;
    justify-content: center;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  .playerControlsButtons {
    display: flex;
    align-items: center;
    gap: .5rem;

    margin-bottom: 0.75rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0;
      padding: 0;

      width: 2rem;
      height: 2rem;

      background: white;
      border-radius: 50%;
      border: none;

      &:hover {
        transform: scale(1.06);
        transition: none 33ms cubic-bezier(.3,0,0,1);
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }

  .playerControlsLeft {
    display: flex;
    gap: .5rem;
  }

  .playerControlsRight {
    display: flex;
    gap: .5rem;
  }

  .playerControlsPlaybackBar {
    display: flex;
    align-items: center;
    gap: .5rem;

    input[type='range'] {
      width: 400px;
    }

    //input[type='range'],
    //input[type='range']::-webkit-slider-runnable-track,
    //input[type='range']::-webkit-slider-thumb {
    //  -webkit-appearance: none;
    //}
    //
    //input[type='range']::-webkit-slider-runnable-track {
    //  height: 3px;
    //  background: linear-gradient(to right, #293043, #293043), #D7D7D7;
    //  background-size: var(--background-size, 0%) 100%;
    //  background-repeat: no-repeat;
    //  border-radius: 5px;
    //
    //}
    //
    //input[type='range']::-webkit-slider-thumb {
    //  width: 15px;
    //  height: 15px;
    //  cursor: pointer;
    //  background: #293043;
    //  border: solid white 1px;
    //  border-radius: 50%;
    //  margin-top: -6px;
    //  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    //}

    //input[type="range"] {
    //  -webkit-appearance: none;
    //  height: 7px;
    //  background: grey;
    //  border-radius: 5px;
    //  background-image: linear-gradient(#d46a6a, #d46a6a);
    //  background-repeat: no-repeat;
    //}
    //
    //input[type="range"]::-webkit-slider-thumb {
    //  -webkit-appearance: none;
    //  height: 20px;
    //  width: 20px;
    //  border-radius: 50%;
    //  background: #d46a6a;
    //  cursor: pointer;
    //  box-shadow: 0 0 2px 0 #555;
    //  transition: background 0.3s ease-in-out;
    //}
    //
    //input[type="range"]::-webkit-slider-runnable-track {
    //  -webkit-appearance: none;
    //  box-shadow: none;
    //  border: none;
    //  background: transparent;
    //}

    //input[type=range] {
    //  width: 400px;
    //  -webkit-appearance: none;
    //  background-color: orange;
    //  height: 12px;
    //}
    //
    //input[type=range]::-webkit-slider-runnable-track {
    //  background-color: index.$mainColor;
    //  height: 5px;
    //}
    //
    //input[type=range]::-webkit-slider-thumb {
    //  background-color: green;
    //  height: 16px;
    //}

    //[type=range]::-webkit-slider-runnable-track {
    //  cursor: default;
    //  height: 8px;
    //  transition: all 0.2s ease;
    //  width: 100%;
    //  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
    //  background: #eceff1;
    //  border: 2px solid #cfd8dc;
    //  border-radius: 5px;
    //}
    //[type=range]::-webkit-slider-thumb {
    //  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
    //  background: #607d8b;
    //  border: 2px solid #eceff1;
    //  border-radius: 12px;
    //  box-sizing: border-box;
    //  cursor: default;
    //  height: 24px;
    //  width: 24px;
    //  -webkit-appearance: none;
    //  margin-top: -10px;
    //}
  }

}

.extraControls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    width: 2rem;
    height: 2rem;
  }

  input[type=range] {
    width: 100px;
  }
}