// Main Colors
$primary: #FFF;
$secondary: #FFF;
$tertiary: #FFF;

$red: red;
$green: green;
$blue: blue;

// Header Colors
$header: rgb(32, 35, 37);

// Sidebar Colors
$sidebar: rgb(32, 35, 37);
$sidebarText: #B3B3B3;
$sidebarActive: rgba(173, 20, 87, 0.5);
$sidebarBGHover: #3a3a3a;

// Website Colors
$youtube: rgb(205, 30, 30);
$soundcloud: rgb(255, 85, 0);
$bandcamp: rgb(100, 155, 170);
$bandcamp: #1ea0c4;

// Old Colors
$OLDmainColor1: #ad1457;
$OLDmainColor2: #FF2145;

$controller: #181818;
$controllerBorder: #383838;
$content: rgb(24, 26, 27);
$contentNav: #090909;
$playButtonColor: #1db954;
//$mainColor: #ad1457;
$mainColor: #ff2145;
$dropdownColor: #2b2f33;