@mixin hideScrollbars {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin center() {
  display: flex;
  align-items: center;
}

@mixin centerContent() {
  @include center();
  justify-content: center;
}

@mixin centerSidebarContent() {
  @include centerContent();
  flex-direction: column;
}

@mixin buttonLayout() {
  @include centerContent();
  width: 32px;
  height: 32px;
  line-height: 0;
  border-radius: 4px;
  position: relative;
  color: white;
}