$sidebarExpandTransition: all 250ms cubic-bezier(0.0, 0.0, 0.2, 1) 117ms;
$sidebarCollapseTransition: all 250ms cubic-bezier(0.0, 0.0, 0.2, 1) 167ms;

$navbarExpandTransition: $sidebarExpandTransition;
$navbarCollapseTransition: $sidebarCollapseTransition;

$sidebarImageExpandTransition: 300ms cubic-bezier(0.0, 0.0, 0.2, 1) 117ms;
$sidebarImageCollapseTransition: 300ms cubic-bezier(0.0, 0.0, 0.2, 1) 167ms;