$headerHeight: 4rem;
$maxHeaderHeight: 4rem;

$sidebarExpandedWidth: 250px;
$sidebarCollapsedWidth: 72px;
$sidebarIconSize: 24px;

$sidebarSectionExpandedWidth: calc(#{$sidebarExpandedWidth} - 1rem);
$sidebarSectionCollapsedWidth: calc(#{$sidebarCollapsedWidth} - 1rem);

$musicControllerHeight: 95px;