@use "styles/style";
@use "styles/abstracts/variables";
@use "styles/abstracts/colors";
@use "styles/abstracts/transitions";
@use "styles/abstracts/mixins";
@use "styles/components/musicController";
@use "styles/layout/navbar";

@use "styles/mobile/resolution480p";
@import '~react-pro-sidebar/dist/scss/styles.scss';

// ProSidebar variables.
$sidebar-bg-color: colors.$sidebar !default;
$sidebar-color: #adadad !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: red !default;
$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

// My Custom Variables


$sidebarNavExpandTransition: width 250ms cubic-bezier(0.0, 0.0, 0.2, 1) 117ms;
$sidebarNavCollapseTransition: width 250ms cubic-bezier(0.0, 0.0, 0.2, 1) 167ms;
$sidebarNavTextExpandTransition: opacity 300ms cubic-bezier(0.0, 0.0, 0.2, 1) 117ms;
$sidebarNavTextCollapseTransition: opacity 300ms cubic-bezier(0.0, 0.0, 0.2, 1) 167ms;
//$sidebarImageWrapperExpandTransition: height 300ms cubic-bezier(0.0, 0.0, 0.2, 1) 117ms, background-color 250ms linear 250ms;
//$sidebarImageWrapperCollapseTransition: height 300ms cubic-bezier(0.0, 0.0, 0.2, 1) 167ms, background-color 250ms linear 117ms;

// Typography
$textColorPrimary: #fff;
$textColorSecondary: #999;
$textColorTertiary: #333;
$textColorAccent: #FA0;

.pro-sidebar {
  width: variables.$sidebarExpandedWidth;
  min-width: variables.$sidebarExpandedWidth;
  color: colors.$sidebarText;
  //transition: $sidebarNavExpandTransition;
  //transition: width, left, right, .3s;

  background: $sidebar-bg-color;
  transition: transitions.$sidebarExpandTransition !important;
  z-index: 0;

  // Collapsed Sidebar Styles
  &.collapsed {
    width: variables.$sidebarCollapsedWidth;
    min-width: variables.$sidebarCollapsedWidth;
    transition: transitions.$sidebarCollapseTransition !important;

    .pro-sidebar-header {
      position: sticky;
      top: 0;

      .guildInfo {

        img {
          width: 32px;
          height: 32px;
          transition: transitions.$sidebarImageCollapseTransition;
        }

        button {
          background-color: transparent;
          width: 50px;
          height: 32px;

          span {
            display: none;
          }

          .serverSelectorCaretWrapper {
            display: none;
          }
        }
      }

      .guildInfoText {
        height: 0;
        width: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        //transition: $sidebarNavTextCollapseTransition;
        transition: height 0.2s, width 0.2s, padding 0.2s, visibility 0.2s, opacity 0.1s ease-out;
      }
    }

    .pro-sidebar-content {
      overflow-y: auto;
      overflow-x: hidden;

      @include mixins.hideScrollbars();

      &::-webkit-scrollbar {
        display: none;
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: colors.$sidebar;
      }

      .pro-icon-wrapper {
        padding-left: 5px;
      }

      .pro-inner-item {

        .pro-item-content {
          //display: none;
          //visibility: hidden;
          width: 1px;
          height: 1px;
        }
      }
    }
  }

  // Expanded Sidebar Styles
  .pro-sidebar-inner {
    background-color: colors.$sidebar;
    //background-color: rgba(9, 9, 9, 0.78);

    .pro-sidebar-layout {

      .pro-sidebar-header {
        border: none;
      }

    }

    .pro-sidebar-content {
      @include mixins.hideScrollbars();
    }
  }

  .pro-sidebar-header {
    @include mixins.centerContent();
    position: sticky;
    top: 0;

    background: linear-gradient(to bottom, rgba(9, 9, 9, 0.20) 0.1%, transparent);

    //background: rgba(9, 9, 9, 0.78);

    .sidebarHeaderCopy {
      @include mixins.centerContent();
      height: 64px;
      max-height: 70px;
      color: white;
      padding: 1rem 0.8rem;
      font-size: 1.5rem;
      position: sticky;

      svg {
        width: 32px;
        height: 32px;
        max-width: 130px;

        path {
          fill: white;
        }
      }
    }

    .guildInfo {
      img {
        transition: transitions.$sidebarImageExpandTransition;
      }
    }

    .guildInfoText {
      //opacity: 1;
      //transition: $sidebarNavTextExpandTransition;
      //height: 100%;
      //width: 100%;
      //padding: 10px;
      //opacity: 1;
      visibility: visible;
      overflow: visible;
      transition: $sidebarNavTextCollapseTransition;
      //transition: height 0.3s, width 0.01s, padding 0.3s, visibility 0.3s, opacity 0.5s ease-out;
    }
  }

  .pro-sidebar-content {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pro-menu {
    padding: 0;
    color: colors.$sidebarText;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: colors.$sidebar;
    }

    .pro-menu-item {
      &:hover {
        background-color: colors.$sidebarBGHover;
      }

      &.active {
        background-color: colors.$sidebarBGHover;
        color: colors.$mainColor;

        :hover {
          color: colors.$mainColor;
        }

        :before {
          content: '';
          position: absolute;
          width: 0.25rem;
          left: 0;
          background: colors.$mainColor;
        }
      }

      .pro-inner-item {
        padding: 0 0.8rem;
        height: 2.5rem;

        &:hover {
          .pro-icon-wrapper {

            .pro-icon {
              animation: none;
            }
          }
        }
      }
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: colors.$content;
}

.outerWrap {
  // TODO: Update this background image with something better.
  //background-image: url("https://images.hdqwalls.com/download/evening-landscape-minimal-4k-kl-1920x1080.jpg");
  //background-color: colors.$content;
  //background-position: center;
  //height: 100%;
  //min-height: 100%;
}

.App {
  height: calc(100vh - #{variables.$musicControllerHeight} - #{variables.$headerHeight});
  display: flex;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: colors.$content;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

body {
  font-family: Ubuntu, sans-serif;
}

header {
  display: flex;
  align-items: center;

  color: white;

  background: rgba(9, 9, 9, 0.78);

  width: 100%;
  height: 4rem;
  //box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .12);
  //box-shadow: 0 1px 4px 1px rgba(39, 39, 39,.85);
  padding: 12px 24px 12px 16px;
  z-index: 10;

  .sidebarCollapseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

.guildInfo {
  @include mixins.centerContent();
  color: white;
  padding: 1rem 0.8rem;
  width: 100%;

  span {
    margin-left: 0.5em;
  }

  img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  svg {
    margin: 0 5px;
    fill: white;

    &:active {
      transform: rotate(180deg);
      transition: 250ms;
    }
  }

  .guildInfoText {
    //@include mixins.centerSidebarContent();
    //padding-top: 15px;
    //text-align: center;
    float: right;
    width: 85%;
    padding-left: 0.5rem;

    .guildName {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }

    .memberCount {
      font-size: 0.75rem;
      margin: 0;
      color: colors.$sidebarText;
    }
  }

  .serverSelectorButton {
    display: flex;
    align-items: center;
    background: colors.$dropdownColor;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    max-width: 230px;
    width: 16rem;
    height: 2.5rem;
    color: white;
    position: relative;

    .serverSelectorButtonText {
      max-width: 9.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.95rem;
    }
  }

  .serverSelectorCaretWrapper {
    width: 25px;

    .serverSelectorCaret {

      &.open {
        transform: rotate(180deg);
        transition: 250ms;
      }

      &.closed {
        transform: rotate(0deg);
        transition: 250ms;
      }
    }

    .serverSelectorDropdownCaretWrapper {
      width: 25px;
      color: white;

      .accountDropdownCaret {

        &.open {
          transform: rotate(180deg);
          transition: 250ms;
        }

        &.closed {
          transform: rotate(0deg);
          transition: 250ms;
        }
      }
    }
  }
}

.sidebar {
  width: 260px;
  height: 100%;
  background: colors.$sidebar;
  //padding: 15px 15px 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .underLogo {
    width: 90%;
    border: 1px solid colors.$mainColor;
    margin: 0 auto;
  }

  .sectionHeader {
    color: white;
    margin: 0;
    padding: 0.5rem 0.8rem;
  }

  .sidebarNavigation {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: colors.$sidebar;
    }

    ul {
      margin: 0;
      padding: 0;

      a {
        color: inherit;
        text-decoration: none;

        &:visited {
          color: inherit;
          text-decoration: none;
        }
      }

      li {
        color: colors.$sidebarText;
        list-style-type: none;
        //padding: 0.25rem 0.8rem;
        padding: 0 0.8rem;
        font-size: 0.9rem;
        cursor: pointer;
        font-family: Ubuntu, sans-serif;
        display: flex;
        align-items: center;
        position: relative;
        height: 2.75rem;

        svg {
          //margin-right: 15px;
          margin-right: 24px;
        }

        &.active {
          color: white;
          background: colors.$sidebarActive;
          //background: rgba(173, 20, 87, 0.5);
          //border-left: 5px $mainColor solid;
          //border-radius: 0;
          //padding-left: 0.45rem;

          &:hover {
            background-color: colors.$sidebarActive;
          }

          &:before {
            content: '';
            position: absolute;
            width: 0.25rem;
            //height: 1.5rem;
            height: 100%;
            left: 0;
            background: colors.$mainColor;
          }
        }

        &:hover {
          color: white;
          background: colors.$sidebarBGHover;
        }
      }
    }
  }
}

.sidebar {
  width: variables.$sidebarExpandedWidth;

  header {

  }

  ul {
    margin: 0;
    padding: 0;

    a {
      color: inherit;
      text-decoration: none;

      &:visited {
        color: inherit;
        text-decoration: none;
      }
    }

    li {
      color: colors.$sidebarText;
      list-style-type: none;
      //padding: 0.25rem 0.8rem;
      padding: 0 0.8rem;
      font-size: 0.9rem;
      cursor: pointer;
      font-family: Ubuntu, sans-serif;
      display: flex;
      align-items: center;
      position: relative;
      max-height: 2rem;

      a {
        display: flex;
        align-items: center;

        margin: 1px 4px;

        padding: 0.5rem 0.75rem;
      }

      .divIcon {
        display: flex;
        margin-right: .5rem;

        width: 1rem;
        height: 1rem;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }

      &.active {
        color: white;
        background: colors.$sidebarActive;
        //background: rgba(173, 20, 87, 0.5);
        //border-left: 5px $mainColor solid;
        //border-radius: 0;
        //padding-left: 0.45rem;

        &:hover {
          background-color: colors.$sidebarActive;
        }

        &:before {
          content: '';
          position: absolute;
          width: 0.25rem;
          //height: 1.5rem;
          height: 100%;
          left: 0;
          background: colors.$mainColor;
        }
      }

      &:hover {
        color: white;
        background: colors.$sidebarBGHover;
      }
    }
  }

  button {
    display: flex;
    align-items: center;

    background: none;
    border: none;
    color: white;

    width: 100%;
    height: 2rem;

    padding-left: 0.8rem + 1rem;

    svg {
      width: 1rem;
      height: 1rem;

      margin-right: .5rem;
    }

    &:hover {
      background-color: colors.$sidebarBGHover;
    }
  }
}

.links {
  font-size: 0.6rem;
  color: colors.$sidebarText;
  text-align: center;
  margin-top: auto;
  padding: 1rem;

  span {
    display: block;
  }
}

.collapseSidebarWrapper {
  border-top: 1px solid rgba(173, 173, 173, 0.2);

  svg {
    fill: white;
    width: 16px;
    height: 16px;
  }

  &.collapsed {

    .pro-item-content {
      display: none;
    }

    svg {
      transform: rotate(180deg);
      transition: transform 250ms cubic-bezier(0.0, 0.0, 0.2, 1) 117ms;
    }
  }

  &.expanded {
    box-shadow: 0 8px 16px 4px rgba(9, 30, 66, 0.25);

    svg {
      transform: rotate(0);
      transition: transform 250ms cubic-bezier(0.0, 0.0, 0.2, 1) 117ms;
    }
  }
}

//.newSidebar {
//  height: 100vh;
//
//  .collapsed {
//
//  }
//}

.notificationSettingsPage {
  padding: 1rem 2rem;

  .notificationSettingsHeader {
    display: flex;
    border-bottom: 1px solid white;

    .notificationsHeaderContentWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .notificationsHeaderContentLeft {
        display: flex;
        flex-direction: column;
      }

      .notificationsHeaderContentRight {

        svg {
          width: 11.25rem;
          height: 11.25rem;
        }
      }
    }
  }

  .notificationSettingsContent {
    display: flex;
    flex-direction: column;

    .notificationSettingsWrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 3rem;

      .notificationsContentTitle {
        margin-right: 3.5rem;
      }

      .notificationOptionsWrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .notificationOptions {
          display: flex;
          gap: 0.75rem;

          padding: 1rem 0;

          &:first-child {
            padding-top: 0;
          }

          p {
            margin: 0;
            padding: 0;
            font-weight: 500;
          }

          span {
            color: #aaa;
          }
        }
      }
    }
  }

  .notificationSettingsFooter {

  }
}

.homePage {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  gap: .25rem;

  p {
    margin: 0;
    padding: .25rem 0;
  }

  a {
    width: 8rem;
  }

  button {
    cursor: pointer;
  }
}

.tosPage {
  padding: 1rem 4rem;

  .tosHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.privacyPage {
  padding: 0.5rem;
}

.rankCardPage {
  padding: 1rem 20rem;

  .rankCardWrapper {
    display: flex;

    width: 100%;
    background-color: #181a1b;

    padding: 1rem;

    img {
      border-radius: 500px;
      margin-right: 1rem;
    }

    .rankCard {
      width: 100%;
      padding: .25rem 0;
    }

    .rankCardName {
      padding-left: .5rem;
      font-size: 1.25rem;
    }

    .rankCardStats {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .rankCardCookies {
        display: flex;
        justify-content: flex-end;
      }

      .rankCardStatsInner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: .5rem 0 .5rem 0.5rem;
      }
    }

    .rankCardExperienceBar {
      display: flex;
      align-items: center;
      position: relative;

      width: 100%;
      border-radius: 500px;
      background-color: colors.$sidebarActive;
      height: 2.5rem;
    }

    .rankCardExperienceBarOverlay {
      position: absolute;
      top: 0;

      width: 46%;
      height: 2.5rem;
      background-color: colors.$mainColor;
      border-radius: 500px;
    }
  }

  .colorSettingsWrapper {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    width: 100%;

    background-color: rgb(24, 26, 27);
    border-color: rgb(48, 52, 54);
    color: rgba(232, 230, 227, 0.87);

    .colorSettings {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .colorSetting {
        flex-basis: 50%;

        .colorSettingsInner {
          padding-bottom: 1rem;
          padding-right: 1rem;

          .innerMenuWrapper {
            display: flex;

            input[type=text] {
              width: 100%;
              outline: none;
              background: transparent;
              border: none;
              border-bottom: 1px dotted white;
              color: white;
            }

            .backgroundColorSetting {
              width: 1.5rem;
              height: 1.5rem;
              background-color: darkred;
              border-radius: 500px;

              margin-left: .75rem;
            }
          }
        }


      }
    }
  }

  .backgroundShadow {
    margin-top: 1rem;
  }

  .customBackgroundWrapper {
    background-color: #181a1b;
    padding: 1rem;

    .fileUpload {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 3.5rem;
    }
  }
}

.dashboardPage {
  padding: 1rem 2rem;

  .dashboardStats {
    display: flex;
    gap: 1rem;

    .dashboardStat {
      background-color: #00d4ff;
      width: 12rem;
      height: 7.5rem;
    }
  }
}

.profilePage {
  padding: 1rem 2rem;

  .profilePageHeaderWrapper {
    height: 21.25rem;
    //background-color: #00e59b;
    background-size: cover;
    background-image: url(https://st.deviantart.net/eclipse/empty-states/p16_dark.png);

    .profilePageHeader {
      height: 100%;
      background-image: url(https://st.deviantart.net/eclipse/empty-states/meteors-il22.svg);
      background-size: 900px;
      background-position: bottom;
      background-repeat: no-repeat;

      .userProfileWrapper {


        .userProfile {
          display: flex;

          img {
            max-width: 6.25rem;
            object-fit: cover;
            border-radius: 4px;
          }

          .userInfo {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;

            h1 {
              margin: 0;
              padding: 0;
              font-size: 3rem;
            }

            .userSubInfo {
              display: flex;
              gap: 1rem;
            }
          }
        }
      }
    }
  }
}

.languagePage {
  padding: 2rem;
}

.queuePage {
  padding: 1rem 2rem;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding-bottom: .25rem;
    }
  }

  .queueHeaderText {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 1rem 0;

    h1 {
      margin: 0;
      padding: 0;
    }

    span {
      color: #b3b3b3;
    }
  }

  .nowPlayingWrapper {
    display: flex;

    .nowPlaying {
      display: flex;
      gap: 1rem;
      width: 100%;
      height: 3.5rem;
      padding: 0 .5rem;

      button {
        //opacity: 0;
        background: transparent;
        border: none;
        color: white;

        &:hover {
          cursor: pointer;
        }

        svg {
          width: 1rem;
          height: 1rem;
        }
      }

      &:hover {
        background-color: #30323a;

        button {
          //opacity: 1;
        }
      }

      .trackNumber {
        display: flex;
        align-items: center;
        justify-content: center;

        color: colors.$mainColor;
      }

      .trackInfo {
        display: flex;
        align-items: center;
        flex-grow: 1;
        min-width: 0;

        .trackArtwork {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          object-fit: cover;

          img {
            max-width: 2.5rem;
          }
        }

        .trackContent {
          color: colors.$mainColor;
          font-size: 1rem;

          min-width: 0;
          //max-width: 50rem;

          a {
            display: block;

            margin: 0;
            padding: 0 0 .25rem 0;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            max-width: 45rem;

            line-height: 1.5;
            font-weight: 400;

            color: white;

            //transition: all 200ms ease;
            //
            //&:hover {
            //  color: rgb(205, 30, 30);
            //  transition: color 117ms ease-out;
            //}
          }

          p {
            margin: 0;
            padding: 0;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          span {
            font-size: .875rem;
            color: rgb(179, 179, 179);
          }
        }
      }

      .trackAlbum {
        display: flex;
        align-items: center;
        flex-grow: 1;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .trackDuration {
        display: flex;
        align-items: center;
      }

      .trackControls {
        display: flex;
        align-items: center;
        justify-content: space-between;

        //& > *:not(:last-child) {
        //  margin-right: 1rem;
        //}

        & > * {
          margin: 0.3125rem;
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }

  .upNext {
    display: flex;
    align-items: center;
    color: #a3a3ac;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;

      li {
        width: 100%;
        height: 3rem;
        margin-bottom: .5rem;

        &:last-child {
          margin: 0;
        }

        &:hover {
          background-color: #30323a;
        }
      }
    }
  }

  $tempVar: /*[index] 1rem*/
      [first] 5.5fr [platform] 1.5fr [duration] 1fr [last] minmax(120px, 1fr);
  $tempVar2: 88% 11%;

  .gridQueueHeader {
    display: grid;
    grid-template-columns: $tempVar;
    gap: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 0.75rem;
  }

  .first {
    //background-color: #aa8232;
    //background-color: rgb(255, 140, 0, 0.5);
  }

  .gridTestingWrapper {
    display: grid;
    align-items: center;
    padding: 0 0.5rem;
    height: 6.5rem;

    &:hover {
      background-color: #30323a;
    }

    .gridTesting {
      display: grid;
      grid-template-columns: $tempVar;
      gap: 1rem;
      height: 100%;

      button {
        //opacity: 0;
        background: transparent;
        border: none;
        color: white;

        &:hover {
          cursor: pointer;
        }

        svg {
          width: 1rem;
          height: 1rem;
        }
      }

      .trackInfoGrid {
        display: flex;
        align-items: center;
        //background-image: url("https://i.ytimg.com/vi/7_1MDSSWD5A/maxresdefault.jpg");

        .trackArtworkGrid {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          object-fit: cover;

          width: 7.5rem;

          img {
            max-width: 7.5rem;
            max-height: 4.1875rem;
          }
        }

        .trackContentGrid {
          color: white;
          //color: colors.$mainColor;
          font-size: 1.25rem;

          max-width: 50rem;

          &.youtube a {
            &:hover {
              color: colors.$youtube;
            }
          }

          &.soundcloud a {
            &:hover {
              color: colors.$soundcloud;
            }
          }

          &.bandcamp a {
            &:hover {
              color: colors.$bandcamp;
            }
          }

          p, a {
            display: block;

            margin: 0;
            padding: 0 0 .25rem 0;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            max-width: 45rem;

            line-height: 1.5;
            font-weight: 400;

            color: white;

            //transition: all 200ms ease;
            //
            //&:hover {
            //  color: rgb(205, 30, 30);
            //  transition: color 117ms ease-out;
            //}
          }

          .trackSubContentGrid {
            display: flex;
            align-items: center;

            img {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 500px;
              margin-right: .5rem;
            }

            span {
              font-size: 1rem;
              color: rgb(179, 179, 179);
            }
          }
        }
      }

      .trackAlbumGrid {
        display: flex;
        align-items: center;
        flex-grow: 1;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .trackDurationGrid {
        display: flex;
        align-items: center;
      }

      .trackControlsGrid {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          margin: 5px;
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }

  .gridTestingWrapperModified {
    display: grid;
    align-items: center;
    padding: 0.5rem;
    //height: 6.5rem;

    &:hover {
      background-color: #30323a;
    }

    .gridTesting {
      display: grid;
      grid-template-columns: $tempVar2;
      gap: 1rem;
      //height: 100%;

      button {
        //opacity: 0;
        background: transparent;
        border: none;
        color: white;

        &:hover {
          cursor: pointer;
        }

        svg {
          width: 1rem;
          height: 1rem;
        }
      }

      .trackInfoGrid {
        display: flex;
        //align-items: center;
        //background-image: url("https://i.ytimg.com/vi/7_1MDSSWD5A/maxresdefault.jpg");

        .trackArtworkGrid {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          object-fit: cover;

          width: 7.5rem;

          img {
            max-width: 7.5rem;
            max-height: 4.1875rem;
          }
        }

        .trackContentGrid {
          color: white;
          //color: colors.$mainColor;
          font-size: 1.25rem;

          max-width: 50rem;

          &.youtube a {
            &:hover {
              color: colors.$youtube;
            }
          }

          &.soundcloud a {
            &:hover {
              color: colors.$soundcloud;
            }
          }

          &.bandcamp a {
            &:hover {
              color: colors.$bandcamp;
            }
          }

          p, a {
            display: block;

            margin: 0;
            padding: 0 0 .25rem 0;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            max-width: 45rem;

            line-height: 1.5;
            font-weight: 400;

            color: white;

            //transition: all 200ms ease;
            //
            //&:hover {
            //  color: rgb(205, 30, 30);
            //  transition: color 117ms ease-out;
            //}
          }

          .trackSubContentGrid {
            display: flex;
            align-items: center;

            img {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 500px;
              margin-right: .5rem;
            }

            span {
              font-size: 1rem;
              color: rgb(179, 179, 179);
            }
          }
        }
      }

      .trackAlbumGrid {
        display: flex;
        align-items: center;
        flex-grow: 1;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .trackDurationGrid {
        display: flex;
        align-items: center;
      }

      .trackControlsGrid {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          //margin: 5px;
          width: 2.5rem;
          height: 2.5rem;

          &:hover {
            background-color: #aaaaaa;
          }
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}

.youtube {
  color: rgb(205, 30, 30) !important;
}

.soundcloud {
  color: rgb(255, 85, 0) !important;
}

.bandcamp {
  color: rgb(100, 155, 170) !important;
}

.searchPage {
  padding: 1rem 2rem;

  input[type=text] {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    width: 25rem;
    height: 2.5rem;

    padding: 0 .75rem;
  }

  h3 {
    padding: 0 0.5rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding-bottom: .25rem;
    }
  }

  $tempVar: 25fr 1fr 1fr;

  .searchResultWrapper {
    display: grid;
    align-items: center;
    padding: 0.5rem;

    &:hover {
      background-color: #30323a;
    }

    .searchResult {
      display: grid;
      grid-template-columns: $tempVar;
      gap: 1rem;
      //height: 100%;

      button {
        //opacity: 0;
        background: transparent;
        border: none;
        color: white;

        &:hover {
          cursor: pointer;
        }

        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .resultInfo {
      display: flex;

      .resultArtwork {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        object-fit: cover;

        width: 7.5rem;

        img {
          max-width: 7.5rem;
          max-height: 4.1875rem;
        }
      }

      .resultContent {
        color: white;
        //color: colors.$mainColor;
        font-size: 1.25rem;

        max-width: 50rem;

        &.youtube a {
          &:hover {
            color: colors.$youtube;
          }
        }

        &.soundcloud a {
          &:hover {
            color: colors.$soundcloud;
          }
        }

        &.bandcamp a {
          &:hover {
            color: colors.$bandcamp;
          }
        }

        p, a {
          display: block;

          margin: 0;
          padding: 0 0 .25rem 0;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          max-width: 45rem;

          line-height: 1.5;
          font-weight: 400;

          color: white;

          //transition: all 200ms ease;
          //
          //&:hover {
          //  color: rgb(205, 30, 30);
          //  transition: color 117ms ease-out;
          //}
        }

        .resultSubContent {
          display: flex;
          align-items: center;

          img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 500px;
            margin-right: .5rem;
          }

          span {
            font-size: 1rem;
            color: rgb(179, 179, 179);
          }
        }
      }
    }

    .resultControls {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        //margin: 5px;
        width: 2.5rem;
        height: 2.5rem;

        &:hover {
          background-color: #aaaaaa;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .resultDuration {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.assetsPage {
  padding: 1rem;

  .youtubeAssets {
    display: flex;
    gap: 1rem;
  }

  .buttonTesting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;

    width: 1.75rem;
    height: 1.75rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

    border-radius: 2px;

    svg {
      fill: white;
    }
  }

  .premiereText {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;

    padding: 3px 4px;

    width: min-content;
    height: min-content;

    font-size: 10px;

    span {
      color: white;
      text-transform: uppercase;

      font-family: Roboto, Arial, sans-serif;
      font-weight: 600;
      font-size: .75rem;
      line-height: .75rem;
      letter-spacing: .35px;
    }
  }

  .premiumRequired {
    display: flex;
    flex-direction: column;

    // 48.75 rem vs 53.5rem
    width: 50rem;
    min-height: 29.25rem;

    //background-color: red;

    .closeMenuButton {
      display: flex;

      position: relative;
      border-radius: 4px 4px 0 0;

      button {
        display: flex;
        align-items: center;

        position: absolute;
        top: 1rem;
        right: 1rem;

        z-index: 5;

        cursor: pointer;

        background-color: transparent;
        border: none;

        &:hover {
          background-color: #aaaaaa;
        }
      }
    }

    .premiumContentWrapper {
      width: 100%;
      min-height: 29.25rem;
      background-color: rgba(0, 0, 0, 0.5);

      display: flex;

      .premiumImage {
        background: url("https://mee6.xyz/assets/01bedc0de84c1a2c1cbaa50e732c4ab9.svg") -328px 0px / 218% no-repeat rgb(23, 24, 30);
        flex: 1 1 0;
        max-width: 340px;
      }

      .premiumPerks {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 40px;

        h3 {
          margin: 0;
          padding: 0;

          font-style: normal;
          font-weight: normal;
          font-size: 1.5rem;
          line-height: 28px;
          color: rgb(242, 244, 251);

          b {
            color: colors.$mainColor;
          }
        }

        ul {
          margin: 2rem 0 0.375rem;
          padding: 0;
          list-style-type: none;

          li {
            margin-bottom: 1rem;
            padding: 0;

            display: flex;
            align-items: center;

            svg {
              fill: lightgreen;
              margin-right: 1rem;
            }
          }
        }

        button {
          border: 1px solid transparent;
          transition: border-color 0.15s ease-out 0s;
          animation: 3s linear 0s infinite normal none running kgQPTI;
          padding: 12px 24px;
          font-size: 16px;
          line-height: 24px;
          cursor: pointer;
        }

        .callToAction {
          display: flex;
          gap: 1rem;

          margin: 1rem 0;
        }

        .premiumButton {
          color: colors.$mainColor;
          border: 1px solid colors.$mainColor;
          border-radius: 3px;
          background-color: rgba(173, 20, 87, 0.12);
          font-size: 1rem;
        }

        .notNowButton {
          min-height: 38px;
          color: rgb(155, 157, 159);
          background: transparent;
          border-radius: 8px;

          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

  .userProfileWrapper {


    .userProfile {
      display: flex;

      img {
        max-width: 6.25rem;
        object-fit: cover;
      }

      .userInfo {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        h1 {
          margin: 0;
          padding: 0;
        }

        .userSubInfo {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }

  .deviantartLoginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: cover;

    .deviantartLoginPage {
      display: flex;

      width: 53.5rem;
      height: 43.125rem;

      .loginPageLeft {
        width: 26rem;
        height: 100%;
        background-image: url(https://st.deviantart.net/eclipse/sisu/image-7-471131591.png);
        background-size: cover;

        .loginPageLeftContent {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          flex-grow: 1;
          background: rgba(var(--L8-RGB), .4);
          padding: 144px 56px 40px 56px;
          height: 100%;
          position: relative;

          .logoArea {
            position: absolute;
            top: 48px;
            height: 54px;

            .logoImage {
              width: 22px;
              height: 36px;

              svg {
                fill: #00e59b;
              }
            }

            .logoText {
              width: 111px;
              height: 36px;

              svg {
                fill: white;
              }
            }
          }

          h1 {
            width: 221px;
            margin: 0 0 24px;
            font-family: devioussans02extrabold, Helvetica Neue, Helvetica, Arial, メイリオ\, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
            //font-weight: 900;
            letter-spacing: 0;
            text-transform: uppercase;
            font-size: 40px;
            line-height: 42px;
          }

          a {
            font-weight: bold;
          }

          p {
            margin-right: 40px;
          }
        }
      }

      .loginPageRight {
        padding: 40px 48px;
        background-color: white;
        width: 27.5rem;
        flex-grow: 1;
        position: relative;

        .closeMenuButton {
          display: flex;
          position: absolute;
          top: 20px;
          right: 20px;

          background: transparent;
          border: none;

          cursor: pointer;

          svg {

          }
        }

        .loginPageRightContent {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          height: 100%;
          color: black;

          h2 {
            margin: 0 0 3px;
          }

          a {
            color: #0289ff;
            text-decoration: none;
          }

          p {
            margin: 0;
            padding: 0;

            span {
              margin-right: 8px;
            }
          }

          .loginPageRightContentForm {
            margin: 40px 0 53px;

            input[type=text], input[type=password] {
              border: none;
              font-size: 18px;

              &:focus {
                border: none;
                outline: none;
              }
            }

            .username {
              width: 100%;
              padding: 15px 0 20px 0;
              border-bottom: 1px solid black;
            }

            .password {
              width: 100%;
              padding: 15px 0 20px 0;
              border-bottom: 1px solid black;
            }

            label {
              display: flex;
              align-items: center;

              margin: 12px 0 10px;

              span {
                margin-left: 8px;
              }
            }

            button {
              width: 7.5rem;
              height: 54px;
              background: linear-gradient(114deg, #4cddbd, #06f286);
              border: none;

              text-transform: uppercase;

              letter-spacing: 1.3px;
              line-height: 1.22;
              font-size: 11px;
              font-weight: 400;
            }

            a {
              display: inline-block;
              margin-top: 64px;
            }
          }

          .loginPageRightContentFooter {

          }
        }
      }
    }
  }

  .creditCards {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    .creditCardWrapper {
      background-color: #37384c;
      padding: 1rem;

      max-width: 25rem;

      border: 1px dashed lightgreen;
      //background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='lightgreen' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

      .creditCardHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: .25rem;

        span {
          color: #aaa;
          text-transform: uppercase;
        }

        button {
          background: transparent;
          border: none;
          color: white;
          cursor: pointer;

          svg {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      .creditCard {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          object-fit: cover;
          max-width: 4.5rem;
        }

        svg {
          height: 5rem;
        }

        .creditCardInner {

          span {
            color: lightgreen;
          }
        }
      }
    }

    .creditCardWrapper2 {
      background: white;
      max-width: 20rem;

      color: black;
      padding: 1rem;

      .creditCardHeader2 {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid gray;

        img {
          max-width: 10rem;
        }

        span {
          font-weight: 500;
        }

        .customCreditCardWrapper {
          display: flex;
          flex-direction: column;

          background-color: #61a7ff;
          width: 100%;
          padding: 1rem;
          margin: 1rem 0;

          height: 7.5rem;

          .cardProvider {
            background-color: white;
            padding: .1rem .25rem .1rem .1rem;
            width: min-content;
            border-radius: 4px;

            span {
              text-transform: uppercase;
              font-weight: bold;
            }
          }

          .cardSpacer {
            display: flex;
            flex-grow: 1;
          }

          .cardNumber {
            font-weight: 500;
            font-size: 1.25rem;
            padding: .25rem 0;
          }

          .cardInfo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            text-transform: uppercase;
          }
        }
      }

      .creditCard2 {
        display: flex;
        flex-direction: row;
        gap: .75rem;

        padding-top: 1rem;

        span:not(:last-child) {
          padding-bottom: .5rem;
        }

        .creditCardTitle {
          display: flex;
          flex-direction: column;

          color: #aaa;
        }

        .creditCardValues {
          display: flex;
          flex-direction: column;

          color: black;
        }
      }
    }
  }

  .userProfileCardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    .userProfileCard {
      width: 37.5rem;
      //max-height: 43.25rem;
      max-height: unset;
      background-color: #18191c;

      overflow: hidden;

      .userProfileHeader {
        margin: 0;
        padding: 0;

        .headerBanner {
          height: 15rem;
          background-image: url("/gifs/userProfileBackground.gif");
          //background-repeat: repeat-x;
          background-size: cover;
          background-position: center;
          position: relative;

          .betaBadge {
            position: absolute;
            top: 14px;
            right: 1rem;

            padding: 0 .375rem;

            background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
            filter: drop-shadow(0 8px 16px rgba(0, 0, 0, .2));
            border-radius: 8px;

            font-size: 12px;
            line-height: 1rem;
            text-transform: uppercase;
          }
        }

        .profileHeader {
          display: flex;
          flex-direction: column;
          //padding: 0 0.5rem;

          position: relative;

          img {
            width: 7.5rem;
            height: 7.5rem;

            position: absolute;

            border: .5rem solid #18191c;
            border-radius: 500px;

            top: -4.25rem;
            left: 1rem;
          }

          .profileHeaderInner {
            display: flex;
            width: 100%;

            padding: 1rem 1rem 0 8.5rem;

            .profileHeaderLeft {
              display: flex;
              flex-grow: 1;
              flex-wrap: wrap;
              padding-right: .75rem;

              svg {
                width: 1.375rem;
                height: 1.375rem;
                margin-right: .375rem;
              }

              .specialBadges {
                svg {
                  width: 1.6rem;
                  height: 1.375rem;
                }
              }
            }

            .profileHeaderRight {
              display: flex;
              align-items: flex-start;

              .profileHeaderRightInner {
                display: flex;
                align-items: center;

                .callToActionButton {
                  display: flex;
                  align-items: center;

                  margin: 0;
                  padding: 0.125rem 1rem;

                  border: none;
                  color: white;

                  min-width: 9.875rem;

                  min-height: 2rem;
                  height: 2rem;

                  background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);

                  .buttonText {
                    margin: 0 auto;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }

                  &:hover {
                    cursor: pointer;
                  }
                }

                button {
                  margin: 0;
                  padding: 0;

                  border: none;
                  background: transparent;
                  color: #b9bbbe;

                  width: 1.5rem;
                  height: 1.5rem;

                  &:hover {
                    color: white;
                    cursor: pointer;
                  }
                }
              }
            }
          }

          .username {
            margin-top: .75rem;
            margin-bottom: .75rem;
            font-size: 1.25rem;

            padding-left: 1.25rem;

            .name {
              color: white;
            }

            .discriminator {
              color: #b9bbbe;
            }
          }

          .customStatus {
            margin-bottom: 1rem;
            color: #b9bbbe;

            padding-left: 1.25rem;
          }
        }
      }

      .userProfileBody {

        ul {
          margin: 0;
          padding: 0;
          padding-left: 1.25rem;

          height: 3.5rem;

          display: flex;
          align-items: center;

          list-style-type: none;

          li {
            margin-right: 2.5rem;

            font-size: 0.875rem;
          }
        }

        .react-tabs__tab-list {

        }

        .react-tabs__tab {
          //background-color: green;
          color: #b9bbbe;
          cursor: pointer;

          height: 1.75rem;

          &:hover {
            color: white;

            border-bottom: 2px solid #dcddde;
          }

          &.react-tabs__tab--selected {
            //background-color: red;
            color: white;
            border-bottom: 2px solid #dcddde;
          }
        }

        .react-tabs__tab-panel {
          overflow: auto;
          height: 15rem;
          max-height: 15rem;
          padding: 0 1.25rem;
          display: none;

          &::-webkit-scrollbar {
            width: 2px;
          }

        }

        .react-tabs__tab-panel--selected {
          display: block;
        }

        .userInfoSection {
          padding: 1rem 0;

          h3 {
            margin: 0;
            margin-bottom: 8px;
            padding: 0;

            color: #b9bbbe;

            font-size: .75rem;
            font-weight: 700;

            text-transform: uppercase;
          }

          p {
            color: #b9bbbe;

            font-size: 14px;

            margin-top: 0;
            margin-bottom: 1rem;
          }

          input[type=text] {
            width: 100%;
            height: 2.75rem;
            background: transparent;
            border: none;
            outline: none;
            color: white;

            &:focus {
              background-color: #202225;
            }
          }

          .userSocialLinksWrapper {
            border-top: 1px solid hsla(0, 0%, 100%, 0.06);
            margin-top: 1rem;

            .userSocialLinks {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;

              .connectedAccount {
                display: flex;
                align-items: center;

                padding: 0.5rem 0.875rem 0.5rem 0.5rem;

                margin-top: 1.25rem;

                border: 1px solid hsla(0, 0%, 100%, 0.06);
                border-radius: 3px;

                width: 16.5rem;
                height: 3rem;

                img {
                  width: 1.875rem;
                  height: 1.875rem;
                }

                a {
                  svg {
                    width: 1.125rem;
                    height: 1.125rem;
                  }
                }

                .connectedAccountInner {
                  display: flex;
                  align-items: center;
                  flex-grow: 1;

                  .connectedAccountName {
                    margin-left: 10px;
                  }

                  .verifiedWrapper {
                    display: flex;
                    align-items: center;
                    position: relative;

                    margin-left: 5px;
                    margin-right: 5px;

                    .childContainer {
                      position: absolute;
                      top: -.05px;
                      left: .05px;
                      right: 0;
                      bottom: 0;
                    }
                  }


                }
              }
            }
          }

        }

      }

      .userProfileFooter {

      }

    }
  }
}

.multicoloredBorders {
  display: flex;
  gap: 1rem;

  .multicolorBorder {
    width: 150px;
    height: 150px;

    border-radius: 100%;
    background: conic-gradient(from 270deg,
        #ffcfcf 60deg, #cfd0ff 60deg 120deg, #ff8989 120deg 180deg,
        #fe6edd 180deg 240deg, #6fa2fe 240deg 300deg, #9500a9 300deg 360deg);

    //9500a9 fe6edd

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 85%;
      height: 85%;

      border-radius: 50%;
    }

    .innerCircle {
      //width: 130px;
      //height: 130px;

      //border-radius: 50%;
      //border-image: linear-gradient(to right, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 5;
    }
  }

  .color-wheel {
    display: inline-block;
    padding: 25px;
    border-radius: 100%;
    //background: conic-gradient(
    //        #ffcfcf 60deg, #cfd0ff 60deg 120deg, #ff8989 120deg 180deg,
    //        #9500a9 180deg 240deg, #6fa2fe 240deg 300deg, #fe6edd 300deg 360deg);

    //background: conic-gradient(
    //        red 6deg, orange 6deg 18deg, yellow 18deg 45deg,
    //        green 45deg 110deg, blue 110deg 200deg, purple 200deg);

    background: conic-gradient(from 0deg,
        hsl(360, 100%, 50%),
        hsl(315, 100%, 50%),
        hsl(270, 100%, 50%),
        hsl(225, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(135, 100%, 50%),
        hsl(90, 100%, 50%),
        hsl(45, 100%, 50%),
        hsl(0, 100%, 50%)
    );
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center center;
    //background-size: auto;

    &::after {
      content: '';
      background-image: url("./pngs/WolfDiscordImage.png");
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      padding: 75px;
      border-radius: 100%;
      //background: #ffffff;
    }
  }
}

.svgSpacing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: max-content;
  height: 2rem;


  .section {
    height: 100%;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0;
      padding: 0;

      width: 2rem;
      height: 100%;

      border: none;
      background: none;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      svg {
        color: white;
        width: 20px;
        height: 20px;
      }
    }

  }
}

.imageButtonSpacing {
  display: grid;
  grid-auto-rows: auto;
  grid-template-rows: 1fr;
  overflow-y: hidden;
  grid-gap: 1rem;

  --minimumColumnWidth: 300px;
  grid-template-columns: repeat(auto-fill, minmax(var(--minimumColumnWidth), 1fr));

  .playlistCardWrapper {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,.1);
    border-radius: 4px;
    height: 80px;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;

    .playlistCardButton {
      opacity: 0;
      transform: translateY(8px);
      transition: all .3s ease;
    }

    &:hover {
      background: rgba(255,255,255,.2);
      cursor: pointer;

      .playlistCardButton {
        opacity: 1;
        transform: translateY(0);
        transition: all .3s ease;
      }
    }
  }

  .playlistCardContent {
    display: flex;
    align-items: center;
    flex: 1;

    color: #fff;
    justify-content: space-between;

    height: 100%;
    padding: 1rem;
  }

  .playlistCardImage {
    min-height: 80px;
    min-width: 80px;
    box-shadow: 4px 4px 24px rgb(0 0 0 / 50%);

    img {
      width: 80px;
      height: 80px;
    }
  }

  .playlistCardText {

  }

  .playlistCardButton {
    //width: 40px;
    //height: 40px;
    transform: translateY(8px);
    transition: all .3s ease;
    opacity: 0;

    button {
      margin: 0;
      padding: 0;

      width: 40px;
      height: 40px;

      border: none;
      border-radius: 50%;
      background-color: #1db954;
      color: #fff;
    }
  }

}

.verifiedUsersWrapper {

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .verifiedUser {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      padding: 0.25rem 0.5rem;
      position: relative;
      background: #CCC;
      color: black;

      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-top: 26px solid #CCC;
        border-right: 1rem solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 0 solid transparent;

        border-top-right-radius: 50%;
      }
    }
  }

  .verifiedUser2 {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      padding: 0.25rem 0.5rem;
      position: relative;
      background: #CCC;
      color: black;

      border-radius: 4px;
    }

    .userBackground {
      display: flex;
      align-items: center;
      position: relative;

      //&:after {
      //  content: url("./svgs/verifiedUserExtra.svg");
      //  position: absolute;
      //  //background-image: url("./svgs/verifiedUserExtra.svg");
      //  //background-size: 35px 52px;
      //  display: inherit;
      //  width: 1.25rem;
      //  height: 1.75rem;
      //  right: -1rem;
      //  top: 0;
      //}

      svg {
        position: absolute;
        width: 1.65rem;
        height: 1.65rem;
        right: -1.3rem;
        color: #ccc;
      }
    }
  }
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.myServersPage {
  padding: 2rem;
}

.main {
  width: 100%;
  overflow-y: auto;
  position: relative;

  .mainContent {
    color: white;

    .mainInner {
      padding: 0.5rem 2rem;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:visited {
        color: inherit;
        text-decoration: none;
      }
    }

    h1 {
      font-size: 1.8rem;
    }
  }
}

.subText {
  font-size: 0.9rem;
  color: colors.$sidebarText;
}

.cardsWrap {
  padding-bottom: 2rem;

  h2 {
    margin-bottom: 0;
  }

  .cardsWrapInner {
    display: flex;
  }

  .subText {
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
  }

  .card {
    background: rgba(128, 128, 128, 0.15);
    border-radius: 10px;
    margin-right: 1rem;
    width: 180px;
    height: 290px;
    overflow: hidden;
    padding: 1.2rem;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3), 0 1px 2px 0 rgba(0, 0, 0, .2);
    position: relative;

    &:hover {
      .playIcon {
        opacity: 1;
      }
    }

    .cardImage {
      height: 160px;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3), 0 1px 2px 0 rgba(0, 0, 0, .2);
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cardContent {
      padding: 0.4rem 0;

      h3, h2 {
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 0;
        letter-spacing: 0.6px;
      }

      span {
        font-size: 0.8rem;
        color: colors.$sidebarText;
      }
    }
  }
}

.playIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  background: colors.$mainColor;
  margin-left: auto;
  opacity: 0;
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;

  svg {
    margin: auto;
  }
}

.playlistPage {
  display: flex;
  flex-direction: column;
  //background-color: rgba(214, 214, 214, 1);
  padding: 2rem;

  // Select all direct descendants and give them a margin-top for spacing.
  & > *:not(:first-child) {
    margin-top: 2rem;
  }

  .playlistHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 30vh;

    .playlistHeaderImage {
      width: 14.5rem;
      height: 14.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .playlistHeaderInfo {

      h3 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }

      h1 {
        margin: 0;
        padding: 0.08em 0;
        font-size: 6rem;
        line-height: 6rem;
      }

      .playlistHeaderSubInfo {
        display: flex;
        align-items: center;

        font-size: 0.875rem;

        img {
          width: 1rem;
          height: 1rem;
          border-radius: 500px;
          margin-right: .5rem;
        }

        a {
          color: white;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          color: hsla(0, 0%, 100%, .7);

          &:before {
            content: "•";
            margin: 0 4px;
          }
        }

      }
    }
  }

  .playlistControls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      background: transparent;
      border: none;
      color: white;
    }

    .playlistControlsLeft {
      display: flex;
      align-items: center;
      justify-content: center;

      //& > * {
      //  margin-right: 1.5rem;
      //}

      button:not(:first-child) {
        width: 2rem;
        height: 2rem;
        margin-right: 1.25rem;
      }

      .playButton {
        width: 3.5rem;
        height: 3.5rem;
        background: colors.$mainColor;
        border-radius: 500px;
        margin-right: 1rem;
        transition: all 300ms ease;

        &:hover {
          transform: scale(1.1);
          transition: all 300ms ease;
        }
      }
    }

    .playlistControlsRight {
      display: flex;
      align-items: center;
      gap: 1rem;

      .playlistSortDropdown {

        .playlistSortDropdownContent {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          overflow: auto;
        }
      }

      .playlistSortButton {
        display: flex;
        align-items: center;
        background: colors.$dropdownColor;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        color: white;
        position: relative;

        .playlistSortButtonText {
          max-width: 9.8rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 0.95rem;
        }
      }

      .playlistSortCaretWrapper {
        width: 25px;

        .playlistSortSelectorCaret {

          &.open {
            transform: rotate(180deg);
            transition: 250ms;
          }

          &.closed {
            transform: rotate(0deg);
            transition: 250ms;
          }
        }

        .playlistSortDropdownCaretWrapper {
          width: 25px;
          color: white;

          .accountDropdownCaret {

            &.open {
              transform: rotate(180deg);
              transition: 250ms;
            }

            &.closed {
              transform: rotate(0deg);
              transition: 250ms;
            }
          }
        }
      }

      button {
        display: flex;
        align-items: center;
        color: white;

        svg {
          fill: white;
        }
      }
    }
  }

  .playlistContent {

    table {
      width: 100%;
      border-collapse: collapse;
    }

    thead {
      text-align: left;
      border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    }

    th, td {
      padding: .5rem .75rem;
    }

    th {
      position: sticky;
      top: -1px;
      text-transform: uppercase;
      background-color: #181818;
    }

    th:first-child, td:first-child {
      text-align: center;
      width: 1rem;
    }

    td:nth-child(2) {
      max-width: 50rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    //td:nth-last-of-type(2) {
    //  text-align: center;
    //}

    td:last-child {
      width: 8rem;

      .trackOptions {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        button {
          margin: 0 1rem 0 0;
          padding: 0;
          background: transparent;
          border: none;
          color: white;
          cursor: pointer;
        }
      }

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    tr {
      height: 3.5rem;

      &:hover {
        background: rgb(24, 28, 32);
      }
    }
  }

  .mainInner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #121212 40%);
    width: 100%;
    display: flex;
  }

  .playlistPageInfo {
    width: 300px;
    text-align: center;
    padding: 1.5rem;

    .playlistPageImage {
      width: 250px;
      height: 250px;
      margin: auto;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

  }
}

.billingPage {
  padding: 2rem 3rem;

  .billingHeader {
    @include mixins.centerContent();
    background: linear-gradient(90deg, rgb(59, 122, 173) 0%, rgb(0, 212, 255) 100%);
    //background-color: #3975a6;
    padding: 1rem;

    button {
      background-color: #ff8502;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      border: 1px solid;
      border-radius: 10px;
      width: 10rem;
      height: 3rem;
      cursor: pointer;
    }

    img {
      border-radius: 500px;
      width: 50px;
      height: 50px;
    }

    h4 {
      padding-left: 1rem;
      flex-grow: 1;
    }
  }

  .billingEmail {
    width: 100%;
    height: 2rem;

    form {
      height: 100%;

      input[type=text] {
        width: 50%;
        height: 100%;
        border: none;
        border-radius: 3px;
        background-color: transparent;
        font-size: 1rem;
      }
    }
  }

  .billingOverview {
    width: 100%;
    height: 100%;

    h2 {
      margin: 1.5rem 0;
      padding: 0;
    }

    .billingOverviewCard {
      display: flex;
      flex-direction: column;
      background-color: #222226;
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 1.5rem;

      hr {
        width: 100%;
        border: 1px solid colors.$mainColor;
      }

      .planOverview {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        h3 {
          margin: 0;
          padding: 0;
        }

        span {
          color: #aaa;
        }

        .thankYou {
          font-size: 1.25rem;
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0.5rem 1.5rem 0.5rem 0;

          button {
            background-color: transparent;
            border: 1px solid #00d4ff;
            border-radius: 3px;
            color: #00d4ff;
            cursor: pointer;
            padding: 0.625rem 1rem;

            &:hover {
              animation: draw-border .3s linear forwards;
            }

            span {
              font-size: 0.875rem;
              font-weight: 800;
              letter-spacing: .5px;
              text-transform: uppercase;
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      h4 {
        margin: 0;
        padding: 0;
      }


    }
  }

  .premiumServerSelector {

    .serverSelectorTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: #aaaaaa;
      }

      .selectedServerCount {
        font-size: 1.25rem;
        padding-right: 1rem;

        .selectedServersUsed {
          color: white;
        }
      }
    }

    .serverSelectorChoices {
      display: flex;
      gap: 1rem;

      .server {
        max-width: 5rem;
        cursor: pointer;
      }

      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

.premiumPage {
  padding: 2rem 3rem;

  .sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;

    h2 {
      margin: 0.5rem 0;
    }

    span {
      color: #bec3cd;
    }
  }

  .premiumHeader {
    @include mixins.centerContent();
    background-color: #3975a6;
    padding: 1rem;

    img {
      border-radius: 500px;
      width: 50px;
      height: 50px;
    }

    h4 {
      padding-left: 1rem;
      flex-grow: 1;
    }

    button {
      background-color: #ff8502;
      color: white;
      font-size: 1rem;
      border: none;
      border-radius: 10px;
      width: 10rem;
      height: 3rem;
      cursor: pointer;
    }
  }

  .premiumPlans {

    .pricingSwitcher {
      span {
        color: white;
      }
    }

    .planSwitcher {
      @include mixins.centerContent();
      gap: 1rem;
    }

    .plans {
      @include mixins.centerContent();
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;

      .cardWrapperCustom {
        @include mixins.centerContent();
        flex-direction: column;
        background-color: #222226;
        width: 100%;
        border: 2px solid rgba(255, 255, 255, 0.06);
        position: relative;

        .comingSoon {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }

      .cardWrapper {
        @include mixins.centerContent();
        flex-direction: column;
        background-color: #222226;
        width: 100%;
        border: 2px solid rgba(255, 255, 255, 0.06);
        position: relative;
        //padding: 1rem;
        transform: scale(1);
        transition: transform 200ms linear;

        .comingSoon {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          transform: scale(1.03);
          transition: transform 200ms linear;
        }

        .cardHeader {
          @include mixins.centerContent();
          flex-direction: column;
          //gap: 1rem;
          width: 100%;
          padding: 1rem;
          background-color: hsla(0, 0%, 100%, .01);

          &.monthly {
            background-color: lightcoral;
          }

          &.annually {
            background-color: lightgreen;
          }

          &.lifetime {
            background-color: lightblue;
          }

          &.custom {
            background-color: wheat;
          }
        }

        .cardPrice {

          span {
            font-size: 2rem;
            font-weight: 800;
            color: #ffffff;

          }
        }

        .cardBody {
          display: flex;
          flex-direction: column;
          width: 100%;
          flex-grow: 1;

          .bonus {
            display: flex;
            align-items: center;
            padding: 0.5rem 2.5rem;
          }
        }
      }
    }

    .customPlans {
      @include mixins.center();
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;

      .cardWrapperCustom {
        display: flex;
        justify-content: space-between;
        background-color: #3B3B40;
        width: 100%;
        //border: 2px solid rgba(255, 255, 255, 0.06);
        position: relative;

        height: 10rem;

        .comingSoon {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
        }

        .customPlanTaglineWrapper {
          display: flex;
          width: 45%;

          background-color: #4D8C6E;

          .customPlanTagline {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            position: relative;
            line-height: 2rem;
            padding-left: 2.5rem;
          }
        }

        .customPlanDefaults {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 45%;
          line-height: 1.5rem;

          h3 {
            margin: 0 0 0.75rem 0;
            padding: 0;
            width: 100%;
          }

          .premiumDefaults {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            span {
              flex: 0 1 33.33%;
            }
          }
        }
      }

      .extraFeatures {
        width: 100%;

        ul {
          display: flex;
          flex-direction: column;
          list-style-type: none;
          padding: 0;
          margin: 0;
          width: 100%;

          li {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 1rem;

            .additionalFeatures {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              padding: 1.5rem;
              background: none;
              border: 2px solid rgba(255, 255, 255, 0.06);
              border-radius: 4px;
              cursor: pointer;
              box-shadow: rgba(0, 0, 0, 0.16) 0 2px 10px;
              transition: all 175ms ease-out 0s;

              &:hover {
                box-shadow: rgba(0, 0, 0, 0.16) 0 10px 10px;
              }

              .extraFeature {
                display: flex;
                flex-direction: column;

                .extraFeatureTitle {
                  color: white;
                }

                .extraFeatureDescription {
                  color: gray;
                }
              }

              .featurePricing {
                display: flex;
                flex-direction: row;
                align-items: center;

                .featurePrice {
                  color: white;
                  font-size: 1rem;
                  font-weight: 600;
                }
              }
            }
          }
        }

        //.additionalFeatures {
        //  display: flex;
        //  flex-direction: row;
        //  align-items: center;
        //  justify-content: space-between;
        //  padding: 1.5rem;
        //  background: none;
        //  border: 2px solid rgba(255, 255, 255, 0.06);
        //  border-radius: 4px;
        //  cursor: pointer;
        //  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px;
        //
        //  .extraFeature {
        //    display: flex;
        //    flex-direction: column;
        //
        //    .extraFeatureTitle {
        //      color: white;
        //    }
        //
        //    .extraFeatureDescription {
        //      color: gray;
        //    }
        //  }
        //
        //  .featurePricing {
        //    display: flex;
        //    flex-direction: row;
        //    align-items: center;
        //
        //    .featurePrice {
        //      color: white;
        //      font-size: 1rem;
        //      font-weight: 600;
        //    }
        //  }
        //}

        .paymentButton {
          display: flex;
          justify-content: flex-end;
          margin: 1rem 0;

          button {
            background: rgb(68, 179, 127);
            color: white;
            font-size: 1rem;
            border: none;
            border-radius: 0;

            padding: 1rem 1.5rem;

            cursor: pointer;
          }
        }
      }
    }

    .extraFeatures {
      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding-bottom: 1rem;

          .additionalFeatures {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 1.5rem;
            background: none;
            border: 2px solid rgba(255, 255, 255, 0.06);
            border-radius: 4px;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.16) 0 2px 10px;
            transition: all 175ms ease-out 0s;

            &:hover {
              box-shadow: rgba(0, 0, 0, 0.16) 0 10px 10px;
            }

            .extraFeature {
              display: flex;
              flex-direction: column;

              .extraFeatureTitle {
                color: white;
              }

              .extraFeatureDescription {
                color: gray;
              }
            }

            .featurePricing {
              display: flex;
              flex-direction: row;
              align-items: center;

              .featurePrice {
                color: white;
                font-size: 1rem;
                font-weight: 600;
              }
            }
          }
        }
      }

      //.additionalFeatures {
      //  display: flex;
      //  flex-direction: row;
      //  align-items: center;
      //  justify-content: space-between;
      //  padding: 1.5rem;
      //  background: none;
      //  border: 2px solid rgba(255, 255, 255, 0.06);
      //  border-radius: 4px;
      //  cursor: pointer;
      //  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px;
      //
      //  .extraFeature {
      //    display: flex;
      //    flex-direction: column;
      //
      //    .extraFeatureTitle {
      //      color: white;
      //    }
      //
      //    .extraFeatureDescription {
      //      color: gray;
      //    }
      //  }
      //
      //  .featurePricing {
      //    display: flex;
      //    flex-direction: row;
      //    align-items: center;
      //
      //    .featurePrice {
      //      color: white;
      //      font-size: 1rem;
      //      font-weight: 600;
      //    }
      //  }
      //}

      .paymentButton {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;

        button {
          background: rgb(68, 179, 127);
          color: white;
          font-size: 1rem;
          border: none;
          border-radius: 0;

          padding: 1rem 1.5rem;

          cursor: pointer;
        }
      }
    }
  }

  .premiumFeatures {

    h2 {
      margin: 0.5rem 0;
    }

    span {
      color: #bec3cd;
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      margin: 1.5rem 0;

      .feature {
        display: flex;
        flex: 0 0 33.33%;
        padding: 20px 48px;

        .icon {
          margin: 4px 24px 0 0;
          color: colors.$mainColor;

          svg {
            width: 24px;
            height: 24px;
          }
        }

        .info {

          h3 {
            margin: 0 0 4px;
            padding: 0;
          }

          p {
            color: #bec3cd;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .featuresEnd {
      @include mixins.centerContent();
    }
  }

  .premiumFAQ {

    h2 {
      //@include mixins.centerContent();
      margin: 0.5rem 0;
    }

    span {
      color: #bec3cd;
    }

    .faq {
      margin-top: 1.5rem;

      span {
        color: white;
      }

      ul {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 1rem;

        padding: 0;
        margin: 0;

        li {
          //display: flex;
          flex: 0 0 49%;
          //margin-bottom: 20px;
          list-style-type: none;

          .accordion {
            width: 100%;
          }
        }
      }

      .title-box {
        svg {
          transition: fill 199ms ease;
          fill: white;
        }

        &:hover {
          svg {
            transition: transform .2s ease-in-out;
            fill: red;
          }
        }
      }
    }
  }
}

.settingsPage {
  padding: 1rem 2rem;
}

small {
  font-size: 1rem;
  font-weight: 400;
  color: #bec3cd;
}

.accordion {
  color: #333;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;

  .accordionContentWrapper {
    padding: 15px 20px;
  }
}

.title-box {
  cursor: pointer;
  background-color: transparent;
}

.title {
  width: calc(100% - 20px);
  color: white;
}

.icon {
  width: 20px;
  display: flex;
  color: #666;
  float: right;
}

.icon .chevron {
  fill: white;
  font-size: 20px;
  transition: transform .2s ease-in-out;
  transform: rotate(180deg);
}

.icon .chevron.down {
  transform: rotate(0deg);
}

.content {
  margin-top: 1rem;
  padding: 1rem 0 0;
  border-top: 1px solid #686868;
  color: rgba(193, 195, 196, 0.78);
}


div.right:after {
  //content:'';
  //border-top:1px solid #ccc;
  //border-right:1px solid #ccc;
  //width:18px;
  //height:18px;
  //position:absolute;
  //right:0;
  ////top:-1px;
  ////background-color:white;
  //z-index:150;

  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 0;
  border: 80px solid transparent;
  border-left: 78px solid #4D8C6E;

  //top: -2px;
  //border-top: 2px solid blue;
  //border-right: 2px solid blue;
  //border-left: 2px solid blue;
  //background: lightblue;
  //-moz-transform: skew(30deg);
  //-webkit-transform: skew(30deg);
  //transform: skew(30deg);

  //-webkit-transform: translate(10px,4px) rotate(45deg);
  //-moz-transform: translate(10px,4px) rotate(45deg);
  //-ms-transform: translate(10px,4px) rotate(45deg);
  //-o-transform: translate(10px,4px) rotate(20deg);
  //transform: translate(10px,4px) rotate(45deg);
}

.analyticsPage {
  padding: 2rem;

  .analyticsHeader {
    @include mixins.centerContent();
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(135, 40, 106, 1) 0%, rgba(195, 48, 93, 1) 100%);
    padding: 1rem;
    margin: 0 0 1rem 0;

    button {
      background-color: transparent;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      border: 1px solid;
      border-radius: 10px;
      width: 10rem;
      height: 3rem;
      cursor: pointer;
    }

    img {
      border-radius: 500px;
      width: 50px;
      height: 50px;
    }

    h4 {
      padding-left: 1rem;
      flex-grow: 1;
    }
  }

  .analyticsContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    .analyticsCard {
      display: flex;
      flex-direction: column;
      flex: 1 0 30%;
      background-color: #1b1c21;
      padding: 1rem;
      border-radius: 10px;

      .analyticsCardTitle {
        font-weight: 700;
        padding: .5rem 0;
      }

      .analyticsCardContent {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        .analyticsCardContentStatus {

          .analyticsCardContentStatusHeader {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
              color: lightgreen;
              padding-left: .5rem;
            }
          }

          span {
            color: #aaa;
          }
        }

        .analyticsCardContentImage {
          padding: 0 1rem;
        }

        h3, p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.commandsPage {
  padding: 1rem 2rem;

  h2 {
    margin: 0 0 1rem 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td, th {
    border: none;
    text-align: left;
    padding: 8px;
  }

  td:first-child {
    width: 20%;
    color: colors.$mainColor;
  }

  td:last-child {
    width: 20%;
    color: #bbb;
  }

  tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.15);
  }

  .commandsSection {
    display: flex;
    gap: 1rem;

    .commandsCategorySelector {
      display: flex;
      flex-direction: column;
      //padding: 0.5rem 0.75rem 0.75rem 0;
      width: 25%;

      //h3, p {
      //  margin: 0;
      //  padding: 0;
      //}

      .commandsCategorySelectorContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: sticky;
        top: 1rem;

        .commandSelector {
          background-color: rgb(24, 26, 27);
          border-color: rgb(48, 52, 54);
          color: rgba(232, 230, 227, 0.87);
          width: 100%;
          padding: 1rem;

          ul {
            margin: 0;
            padding: 0;

            li {
              list-style-type: none;
              padding: 0.25rem 0;

              &:hover {
                background-color: black;
                cursor: pointer;
              }
            }
          }
        }

        .commandsHelp {

          code {
            background-color: rgb(30, 32, 33);
            box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
            color: rgb(196, 85, 90);
            padding: 0.125rem;
          }

          .mention {
            color: #6476c8;
            background: rgba(114, 137, 218, .1);
            border-radius: 3px;
            padding: 2px;
            transition: background-color 50ms ease-out, color 50ms ease-out;
            cursor: pointer;

            &:hover {
              color: #fff;
              background-color: #7289da;
            }
          }

          .commandsHelpInner {

            h4 {
              margin: 0;
              padding: 0;
            }

            p {
              margin: 0 0 .5rem 0;
            }

            ul {
              margin: 0;
              padding-left: 1.25rem;

              li {
                padding: 0.125rem 0;
              }
            }

            .commandsHelpUsages {
              display: flex;
              gap: 1rem;
            }
          }
        }

        .accordion {
          background-color: rgb(24, 26, 27);
          border: none;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
          color: rgba(232, 230, 227, 0.87);
        }
      }
    }
  }
}