*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: #222;

  --fw-normal: 400;

  --clr-primary: #fff;
  --clr-secondary: #fff;
  --clr-tertiary: #fff;
  --clr-accent: #fff;
}

.App {

}

img {
  max-width: 100%;
}

body {
  margin: 1em;
  background-color: var(--bg-dark);
  color: var(--clr-primary);
}

@media (min-width: 800px) {
  body {
    margin: 0;
  }
}

// 720p Screens
@media (min-width: 1280px) {
  body {
    margin: 0;
  }
}

// 1080p Screens
@media (min-width: 1920px) {
  body {
    margin: 0;
  }
}